@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  -webkit-font-smoothing: antialiased;
}

/* Importing font-face here because next/font and tailwind implimentation does
   not reach headlessUI dialog component. Not ideal. Might be because dialog 
   is rendered using a portal which is a sibling to the root-most node of the app. */
@font-face {
  font-family: "Mona Sans";
  src: url("../../public/fonts/mona-sans.woff2") format("woff2");
  font-weight: 400;
}
